DJANGO_DEBUG=True
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=

# SQLite (default)
DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=db.sqlite3

# MySQL example for cPanel
# DJANGO_DB_ENGINE=django.db.backends.mysql
# DJANGO_DB_NAME=cpanel_db_name
# DJANGO_DB_USER=cpanel_db_user
# DJANGO_DB_PASSWORD=strong-password
# DJANGO_DB_HOST=localhost
# DJANGO_DB_PORT=3306
# DJANGO_DB_CONN_MAX_AGE=60

DJANGO_STATIC_ROOT=staticfiles
DJANGO_MEDIA_ROOT=media
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_USE_X_FORWARDED_HOST=True

# Production tavsiya:
# DJANGO_SECURE_SSL_REDIRECT=True
# DJANGO_SECURE_HSTS_SECONDS=31536000
# DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
# DJANGO_SECURE_HSTS_PRELOAD=True
